<div class="container">
	<form class="stack-the-deck" asp-controller="HarrowDeck" asp-action="Details" >
		<div>
			<h3 class="card-label"></h3>
			<label>Alignment Position</label>
			<input type="text" name="alignment"/>
			<label>Card Name</label>
			<input type="text" name="alignment"/>
		</div>
		<div class="button-container">
			<button>+</button>
			<input type="submit" name="submit"></input>
		</div>
	</form>
</div>
